#toolbar
  %h1 Toolbar
  %br

#body
  .content
    %text
    %h1 Home
    = link_to 'My Blog', stories_path

    %p There are at least 44 people here

    %h3 There are at least 44 people here.
    %para This is para - 44
    %h2 There are at least 44 people here.
    %p Name

    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br




