#toolbar
  %h1 Toolbar
  %br
%br
%br

#body
  .content
    %h1 Home
    = link_to 'My Blog', posts_path

    %p There are at least 44 people here

    %h3 There are at least 44 people here.
    %para This is para - 44
    %h2 There are at least 44 people here.

    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br




